<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Custregister</servlet-name>
        <servlet-class>com.org.control.Custregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCloth</servlet-name>
        <servlet-class>com.org.control.addCloth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>com.org.control.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addcategory</servlet-name>
        <servlet-class>com.org.control.Addcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcategory</servlet-name>
        <servlet-class>com.org.control.addcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedbacks</servlet-name>
        <servlet-class>com.org.control.Feedbacks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCloth</servlet-name>
        <servlet-class>com.org.control.UpdateCloth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>com.org.control.AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updatecustdetail</servlet-name>
        <servlet-class>com.org.control.Updatecustdetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailling</servlet-name>
        <servlet-class>mailling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateorder_status</servlet-name>
        <servlet-class>com.org.control.updateorder_status</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Javamail</servlet-name>
        <servlet-class>com.org.control.Javamail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet1</servlet-name>
        <servlet-class>com.org.control.NewServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mails_01</servlet-name>
        <servlet-class>com.org.control.mails_01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Custregister</servlet-name>
        <url-pattern>/Custregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCloth</servlet-name>
        <url-pattern>/addCloth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addcategory</servlet-name>
        <url-pattern>/Addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcategory</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedbacks</servlet-name>
        <url-pattern>/Feedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCloth</servlet-name>
        <url-pattern>/UpdateCloth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/AddOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updatecustdetail</servlet-name>
        <url-pattern>/Updatecustdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailling</servlet-name>
        <url-pattern>/mailling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateorder_status</servlet-name>
        <url-pattern>/updateorder_status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Javamail</servlet-name>
        <url-pattern>/Javamail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet1</servlet-name>
        <url-pattern>/NewServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mails_01</servlet-name>
        <url-pattern>/mails_01</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>paytm_java</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>request_order.jsp</welcome-file>
    </welcome-file-list>
</web-app>
